.maze {
  display: flex;
  flex-direction: column;
}

.container {
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  margin-bottom: -20px;
}

.buttonField {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;

  &:hover {
    background-color: #c9c9c94c;
  }
}

.wall {
  background-color: #fff;
  height: 2px;
  position: relative;
}


.button {
  display: block;
  min-width: 210px;
  border: 2px solid transparent;
  border-radius: 6px;
  padding: 9px 15px;
  color: #000000;
  font-size: 18px;
  font-weight: 300;
  font-family: inherit;
  transition: background-color 0.2s linear;
  background-color: #FFD829;
  margin-bottom: 20px;
}

.button:hover {
  background-color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.button:focus-visible {
  border: 2px solid #FFFFFF;
  outline: none;
}

.button:focus {
  border: 2px solid #FFFFFF;
  outline: none;
}